

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart_general</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/market_gel.js"></script>
    <script src="/js/gold_price.js"></script>
    <style>
        .card {
            width: 500px;
            /* 設置寬度為 300 像素 */
            height: 300px;
        }
    </style>
</head>

<body>
  <section id="s02">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/market_gel.html">大盤</a>
              </li>
              <li class="nav-item">                
                <a class="nav-link" href="/views/holders.html">籌碼部位</a>
              </li>
              <li class="nav-item">                
                <a class="nav-link" href="/views/gold_price.html">黃金</a>
              </li>                 
            </ul>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="loginModal" >登入</button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="registerModal">註冊</button>
          </div>
        </div>
      </nav>
      <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</section>

<section id="g01">
    <div class="container">
        <h1>黃金大盤線圖</h1>
        <div class="col-10 offset-2 my-5">
            <div class="card">
                <canvas id="chart_gold" width="1000" height="800"></canvas>
            </div>
        </div>
    </div>
</section>


    
</body>

</html>