<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart_general</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css.map">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/market_gel.js"></script>
    


    <style>
        .card {
            width: 500px;
            /* 設置寬度為 300 像素 */
            height: 300px;
        }
    </style>
</head>

<body>





    <h1>Swagger 大盤API</h1>
    <div class="col-10 offset-2 my-5">
        <div class="card">
            <canvas id="chart_gold" width="1000" height="800"></canvas>
        </div>
    </div>



    




</body>

</html>